<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADV Shop</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh">
    <div>
        <h3>Welcome to ADV Shop</h3>
        <a th:href="@{/product/list}" class="btn btn-primary btn-sm mb-3">Go to Product List</a>
        <a th:href="@{/car/listCar}" class="btn btn-primary btn-sm mb-3">Go to Car List</a>
    </div>
</div>
</body>
</html>